:root {
  /* Paleta de colores globales */
  --color-primario: #9b582b;
  --color-secundario: #d18a5b;
  --color-fondo: #faf9f6;
  --color-texto: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.contenedor-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

/*SECCION DE LA IZQUIERDA LOGIN*/

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  gap: 10px;
}

label{
  margin-bottom: 10px;
}

.btn-ingresar {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-secundario);
  color: #fff;
  border: none;
}

.btn-ingresar:hover {
  background-color: #edc0a2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.inputs {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
 background-image: linear-gradient(to left top, #9b582b, #a86437, #b67143, #c37d4f, #d18a5b);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  text-decoration: underline;
}

/*SECCION DE LA DERECHA BACKGROUND*/
.background {
  position: relative; /* Esencial para posicionar el logo adentro */
  overflow: hidden;
  background-image:
    linear-gradient(rgba(209, 138, 91, 0.3), rgba(209, 138, 91, 0.6)),
    url("../../img/salones-xv.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  right: -420px;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: auto;
  opacity: 90%;
}

@media (max-width: 768px) {
  .contenedor-login {
    grid-template-columns: 1fr;
    min-width: 250px;
  }

  .background {
    display: none;
  }

  .login {
    padding: 40px 20px;
  }

  form {
    width: 90%;
  }
}

/* Para pantallas más grandes que un monitor estándar (Full HD) */
@media (min-width: 1520px) {
  .login h1 {
    font-size: 3rem; /* Título más imponente */
    margin-bottom: 15px;
  }

  .inputs,
  .btn-ingresar {
    padding: 15px; /* Inputs más robustos y fáciles de clickear */
    font-size: 1.1rem;
  }

  .logo {
    position: absolute;
    right: -310px;
    top: 50%;
    transform: translateY(-50%);
    width: 970px;
    height: auto;
  }
}
