# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/
.coverage
htmlcov/
*.log

# Django
*.sqlite3
db.sqlite3
*.egg-info/
dist/
build/
media/
staticfiles/
*migrations/

# Entorno
.env
.env.local

# Firebase
*firebase-creds.json
*firebase_credentials.json
*creds.json
*serviceAccountKey.json

# Entornos virtuales
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
