<div id="modalBEO" class="modal-beo-info">
    <div class="modal-beo-content">
        <span class="modal-beo-close" onclick="cerrarBEO()">×</span>

        <h2 style="text-align:center;">Orden de banquete de evento (BEO)</h2>
        <div class="modal-beo-grid">
            <div class="modal-beo-card">

                <h4>Información del cliente</h4>

                <p>Nombre:</p>
                <p>Teléfono:</p>
                <p>Correo electrónico:</p>
                <p>Dirección:</p>
                <p>RFC:</p>
                <p>Nombre fiscal:</p>

            </div>

            <div class="modal-beo-card">
                <h4>Información del evento</h4>
                <p>Nombre:</p>
                <p>Descripción:</p>
                <p>Fecha:</p>
                <p>Horario:</p>
                <p>Estado:</p>
                <p>Estimado de asistentes:</p>
            </div>

        </div>

        <h4 class="modal-beo-section-title">Configuración del espacio</h4>
        <div class="modal-beo-card">
            Salón: <span id="beo-salon-nombre">-</span> (<span id="beo-salon-costo">$0.00</span>)<br>
            Montaje: <span id="beo-montaje-nombre">-</span>
        </div>

        <div class="modal-beo-grid">
            <div class="modal-beo-card">
                <h4>Servicios incluidos</h4>
                <p>No hay servicios</p>
            </div>

            <div class="modal-beo-card">
                <h4>Equipamiento incluidos</h4>
                <p>No hay equipamientos</p>
            </div>

        </div>

        <h4 class="modal-beo-section-title">Coste del evento</h4>
        <div class="modal-beo-card">
            Subtotal: <br>
            IVA: <br>
            Total:
        </div>

    </div>

</div>
