{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/sidebar.css" %}" />
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/recepcion/home.css" %}" />
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/global.css" %}" />
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/modal.css" %}" />
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/modal.css" %}" />
    <link rel="stylesheet" href="{% static "BookingRoomApp/css/administrador/registro_administrador" %}" />
    <script src="{% static "BookingRoomApp/js/ocultar_sidebar.js" %}" defer></script>
    <script src="{% static "BookingRoomApp/js/modal/modal.js" %}" defer></script>
    <script src="{% static "BookingRoomApp/js/administracion/crear-input.js" %}" defer></script>
    <script src="{% static "BookingRoomApp/js/recepcion/buscar-fecha-manual.js" %}" defer></script>
    <link rel="icon" href="{% static 'BookingRoomApp/img/favicon_io/favicon-16x16.png' %}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "BookingRoomApp/js/recepcion/full_calendar.js" %}" defer></script>
    <script src="{% static "BookingRoomApp/js/administracion/chart.js" %}" defer></script>

    {% include "BookingRoomApp/includes/alert-exito.html" %}
  </head>
  <body>
    <button class="btn-menu-mobile" id="btn-menu-mobile">☰</button>
    <div class="overlay-sidebar" id="overlay-sidebar"></div>
    <div class="contenedor-aplicacion" id="app-container">
      {% if rol %}
      <aside class="sidebar" id="sidebar">
        <div class="contenedor-letras">
          <button id="toggle-sidebar" class="letras btn-menu">
            BookingRoom
            
          </button>
        </div>


        <nav class="sidebar-nav">

          
          {% if rol == 'ADMIN' or rol == 'RECEP' %}
          <section class="recepcion">
            <details>
              <summary>
                <svg class="icono blanco">
                  <use href="{% static 'BookingRoomApp/img/icons/sprite.svg' %}#icon-apartment"></use>
                </svg>
                <span class="texto-menu">Recepcion</span>
              </summary>
              <ul class="deslizar">
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-bookmark"></use>
                  </svg>
                  <a href="{% url 'home' %}">Reservacion</a>
                </li>
                {% if rol == 'ADMIN' or rol == 'RECEP' %}
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-payment"></use>
                  </svg>
                  <a href="{% url 'pagos' %}">Pagos</a>
                </li>
                {% endif %}
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-history"></use>
                  </svg>
                  <a href="{% url 'historial_reservacion' %}">Historial</a>
                </li>
              </ul>
            </details>
          </section>
          {% endif %}

          {% if rol == 'ADMIN' or rol == 'ALMAC' %}
          <section class="almacen">
            <details>
              <summary>
                <svg class="icono blanco">
                  <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-construction"></use>
                </svg>
                <span class="texto-menu">Almacen</span>
              </summary>
              <ul class="deslizar">
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-chair"></use>
                  </svg>
                  <a href="{% url 'inventario_mobiliario' %}">Inventario mobiliario</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-devices"></use>
                  </svg>
                  <a href="{% url 'inventario_equipamiento' %}">Inventario equipamiento</a>
                </li>
              </ul>
            </details>
          </section>
          {% endif %}

          {% if rol == 'ADMIN' %}
          <section class="administracion">
            <details>
              <summary>
                <svg class="icono blanco">
                  <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-security"></use>
                </svg>
                <span class="texto-menu">Administracion</span>
              </summary>

              <ul class="deslizar">
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-charts"></use>
                  </svg>
                  <a href="{% url 'estadisticas' %}">Estadisticas</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-package"></use>
                  </svg>
                  <a href="">Paquetes</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-services"></use>
                  </svg>
                  <a href="{% url 'servicios' %}">Registrar servicios</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-equipament"></use>
                  </svg>
                  <a href="{% url 'equipamiento' %}">Registrar equipamientos</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-chair"></use>
                  </svg>
                  <a href="{% url 'mobiliario' %}">Registrar mobiliario</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-room"></use>
                  </svg>
                  <a href="{% url 'salones' %}">Registrar salones</a>
                </li>
                <li>
                  <svg class="icono blanco icono-20">
                    <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-worker"></use>
                  </svg>
                  <a href="{% url 'trabajadores' %}">Trabajadores</a>
                </li>
              </ul>
            </details>
          </section>
          {% endif %}

        </nav>

        <a class="salir" href="{% url 'login' %}">
          <svg class="icono blanco icono-32">
            <use href="{% static 'BookingRoomApp/img/icons/sprite.svg'%}#icon-logout"></use>
          </svg>
          <span class="texto-menu">Cerrar sesion</span>
        </a>
      </aside>
      {% else %}
      <style>
        .contenedor-aplicacion {
          display: block;
        }
      </style>

      {% endif %}
      <main class="contenedor-principal">
        {% block inicio %}
        {% endblock inicio %}
      </main>
    </div>
  </body>
</html>