{% extends "BookingRoomApp/base.html" %}
{% load static %}

{% block inicio %}

<link rel="stylesheet" href="{% static 'BookingRoomApp/css/almacen/inventario_mobiliario.css' %}">

<div class="mobiliario-container">
    <h2 class="mobiliario-titulo">Mobiliario</h2>
    <div class="mobiliario-contenedor">

        <div class="mobiliario-fila">
            <input type="text" placeholder="Buscar mobiliario" class="mobiliario-input">

            <select class="mobiliario-select">
                <option>Estado</option>
                <option>Disponible</option>
                <option>No disponible</option>
            </select>

            <select class="mobiliario-select">
                <option>Seleccione tipo</option>
                <option>Sillas</option>
                <option>Mesas</option>
            </select>

        </div>

        <table class="mobiliario-tabla">
            <thead>
                <tr>
                    <th class="mobiliario-th">Indice</th>
                    <th class="mobiliario-th">Mobiliario</th>
                    <th class="mobiliario-th">Tipo</th>
                    <th class="mobiliario-th">Descripcion</th>
                    <th class="mobiliario-th">Costo</th>
                    <th class="mobiliario-th">Stock</th>
                    <th class="mobiliario-th">Estado</th>
                    <th class="mobiliario-th">Cambiar estado</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="mobiliario-td">1</td>
                    <td class="mobiliario-td">Silla 1</td>
                    <td class="mobiliario-td">Sillas</td>
                    <td class="mobiliario-td">Sin descripcion</td>
                    <td class="mobiliario-td">0</td>
                    <td class="mobiliario-td">5</td>
                    <td class="mobiliario-td">Disponible</td>

                    <td class="mobiliario-td">
                        <button class="mobiliario-btn-verde" onclick="abrirModal()">↑↓</button>
                    </td>
                </tr>
                
            </tbody>
        </table>

    </div>

</div>

<div id="modalEstado" class="mobiliario-modal">
    <div class="mobiliario-modal-content">
        <span class="mobiliario-close" onclick="cerrarModal()">×</span>
        <h3 style="text-align:center;">INFORME DE LA RESERVACION</h3>
        <div class="mobiliario-form-grid">

            <label>Cantidad actual</label>
            <input type="number" value="50" class="mobiliario-input">

            <label>Cantidad a cambiar</label>
            <input type="number" class="mobiliario-input">

            <label>Cambiar estado</label>

            <select class="mobiliario-select">
                <option>Disponible</option>
                <option>No disponible</option>
            </select>

        </div>
        <div class="mobiliario-guardar">
            <button class="mobiliario-btn-guardar">Guardar</button>
        </div>
    </div>

</div>

<script src="{% static 'BookingRoomApp/js/almacen/inventario_mobiliario.js' %}"></script>

{% endblock inicio %}
