{% extends "BookingRoomApp/base/base.html" %}
{% load static %}

{% block inicio %}

<link rel="stylesheet" href="{% static 'BookingRoomApp/css/almacen/inventario_equipamiento.css' %}">

<div class="equipamiento-container">
    <h2 class="equipamiento-titulo">Equipamientos</h2>
    <div class="equipamiento-contenedor">
        <div class="equipamiento-fila">
            <input type="text" placeholder="Buscar equipamiento" class="equipamiento-input">

            <select class="equipamiento-select">
                <option>Estado</option>
                <option>Disponible</option>
                <option>No disponible</option>
            </select>

            <select class="equipamiento-select">
                <option>Seleccione tipo</option>
                <option>oficina</option>
                <option>Carnaval</option>
            </select>

        </div>

        <table class="equipamiento-tabla">
            <thead>
                <tr>
                    <th class="equipamiento-th">Indice</th>
                    <th class="equipamiento-th">Servicio</th>
                    <th class="equipamiento-th">Tipo</th>
                    <th class="equipamiento-th">Descripcion</th>
                    <th class="equipamiento-th">Costo</th>
                    <th class="equipamiento-th">Stock</th>
                    <th class="equipamiento-th">Estado</th>
                    <th class="equipamiento-th">Cambiar estado</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="equipamiento-td">1</td>
                    <td class="equipamiento-td">Laptop</td>
                    <td class="equipamiento-td">Ejecutivo</td>
                    <td class="equipamiento-td">Sin descripcion</td>
                    <td class="equipamiento-td">2</td>
                    <td class="equipamiento-td">0</td>
                    <td class="equipamiento-td">Disponible</td>

                    <td class="equipamiento-td">
                        <button class="equipamiento-btn-verde" onclick="abrirModal()">↑↓</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div id="modalEstado" class="equipamiento-modal">
    <div class="equipamiento-modal-content">
        <span class="equipamiento-close" onclick="cerrarModal()">×</span>

        <h3 style="text-align:center;">INFORME DE LA RESERVACION</h3>
        <div class="equipamiento-form-grid">

            <label>Cantidad actual</label>
            <input type="number" value="50" class="equipamiento-input">

            <label>Cantidad a cambiar</label>
            <input type="number" class="equipamiento-input">

            <label>Cambiar estado</label>

            <select class="equipamiento-select">
                <option>Disponible</option>
                <option>No disponible</option>
            </select>
        </div>

        <div class="equipamiento-guardar">
            <button class="equipamiento-btn-guardar">Guardar</button>
        </div>

    </div>

</div>

<script src="{% static 'BookingRoomApp/js/almacen/inventario_equipamiento.js' %}"></script>

{% endblock inicio %}
