{% extends "BookingRoomApp/base.html" %}
{% load static %}

{% block inicio %}

<link rel="stylesheet"
    href="{% static 'BookingRoomApp/css/administrador/registro_administrador.css' %}">

<div class="administrador-contenido">
    <h1 class="titulo-seccion">Trabajadores</h1>

    <h2>Registrar trabajadores</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="administrador-formularios">
        <h3 class="administrador-tituloSeccion">Usuario</h3>
        <form class="administrador-seccionFlex" method="POST" action="{% url 'registrar_trabajador' %}">
            {% csrf_token %}
            <input type="hidden" name="form_tipo" value="cuenta">
            <div class="administrador-inputGrid">
                <label class="administrador-label">Nombre de usuario:<br>
                    <input
                        type="text"
                        placeholder="Usuario"
                        name="nombre_usuario"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Correo electronico: <br>
                    <input
                        type="email"
                        placeholder="Correo electronico"
                        name="email"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Contraseña: <br>
                    <input
                        type="password"
                        placeholder="Contraseña"
                        name="contrasena"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Confirmar contraseña: <br>
                    <input
                        type="password"
                        placeholder="Confirmar contraseña"
                        name="confirmar_contrasena"
                        class="administrador-input"
                        required /></label>
            </div>

            <button class="administrador-paGuarar"
                type="submit">Siguiente</button>
        </form>
    </div>

    <div class="administrador-formularios">
        <h3 class="administrador-tituloSeccion">Trabajador</h3>
        <form class="administrador-seccionFlex" method="POST" action="{% url 'registrar_trabajador' %}">
            {% csrf_token %}
            <input type="hidden" name="form_tipo" value="trabajador">
            <div class="administrador-inputGrid">
                <label class="administrador-label">Nombre: <br>
                    <input
                        type="text"
                        placeholder="Nombre"
                        name="nombre"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Apellido paterno: <br>
                    <input
                        type="text"
                        placeholder="Apellido paterno"
                        name="apellido_paterno"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Apellido materno: <br>
                    <input
                        type="text"
                        placeholder="Apellido materno"
                        name="apellido_materno"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Telefono: <br>
                    <input
                        type="tel"
                        placeholder="Numero telefonico"
                        name="telefono"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">RFC: <br>
                    <input
                        type="text"
                        placeholder="RFC"
                        name="rfc"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label">Numero de empleado: <br>
                    <input
                        type="text"
                        placeholder="Numero"
                        name="no_empleado"
                        class="administrador-input"
                        required /></label>

                <label class="administrador-label"> Rol <br>
                    <select name="rol_id" class="administrador-select" required>
                        <option value disabled selected hidden>Escoge rol</option>
                        {% for rol in roles %}
                        <option value="{{ rol.codigo }}">{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <button class="administrador-paGuarar"
                type="submit">Guardar</button>
        </form>
    </div>

    <form class="administrador-seccionBusq">

        <h3 class="administrador-tituloSeccion">Busqueda</h3>

        <div class="administrador-entradaBusquedas">
            <input
                type="text"
                placeholder="Buscar trabajador"
                name="busqTraba"
                class="administrador-input"
                required />

            <select name="rolSeleccionado" id="itemBusq"
                class="administrador-select">
                <option value selected hidden>Ningun seleccionado</option>
                {% for rol in roles %}
                <option value="{{ rol.codigo }}">{{ rol.nombre }}</option>
                {% endfor %}
            </select>

            <button class="administrador-paGuarar" type="submit">Buscar</button>
        </div>
    </form>

    <div class="administrador-tablita">
        <table class="administrador-tabla">
            <thead class="administrador-thead">
                <tr>
                    <th class="administrador-th">No. Empleado</th>
                    <th class="administrador-th">Nombre</th>
                    <th class="administrador-th">Pri. Apellido</th>
                    <th class="administrador-th">Seg. Apellido</th>
                    <th class="administrador-th">RFC</th>
                    <th class="administrador-th">Telefono</th>
                    <th class="administrador-th">Correo</th>
                    <th class="administrador-th">Rol</th>
                    <th class="administrador-th">Editar</th>
                </tr>
            </thead>

            <tbody class="administrador-tbody">
                {% for trabajador in trabajadores %}
                <tr>
                    <td class="administrador-td">{{ trabajador.no_empleado }}</td>
                    <td class="administrador-td">{{ trabajador.nombre }}</td>
                    <td class="administrador-td">{{ trabajador.apellidoPaterno }}</td>
                    <td class="administrador-td">{{ trabajador.apelidoMaterno }}</td>
                    <td class="administrador-td">{{ trabajador.rfc }}</td>
                    <td class="administrador-td">{{ trabajador.telefono }}</td>
                    <td class="administrador-td">{{ trabajador.correo_electronico }}</td>
                    <td class="administrador-td">{{ trabajador.rol.nombre }}</td>
                    <td class="administrador-td"><img class="administrador-img"
                            src="/document.png"></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock inicio %}
