:root {
  /* Paleta de colores globales */
  --color-primario: #9b582b;
  --color-secundario: #d18a5b;
  --color-fondo: #faf9f6;
  --color-texto: #333333;

  --color-boton-accion: #2B5F9B;
  --color-boton-cancelar: #CA301B;
  --color-boton-guardar: #2B9B32;
}

.boton-accion{
    background-color: #2B5F9B;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.boton-accion:hover{
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Estilos de inputs globales */
.input-global,
.select-global {
  border: none;
  border-radius: 5px;
  padding: 15px;
}

.input-global {
  border-right: 2px solid var(--color-primario);
  border-bottom: 2px solid var(--color-primario);
  margin-top: 10px;
  background-color: #fff;
}

.input-global:focus {
  border: none;
  outline: 2px solid var(--color-primario);
}

.input-global:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  opacity: 0.7;
}

.select-global {
  cursor: pointer;
  border: 1px solid var(--color-primario);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: white;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239c5b31' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.select-global:focus {
  outline: 2px solid var(--color-primario);
}

.select-global:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  opacity: 0.7;
}
